<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置目标对象 -->
    <bean id="target" class="com.example.aop.Target"></bean>

    <!-- 配置切面对象 -->
    <bean id="myAspect" class="com.example.aop.MyAspect"></bean>

    <!-- 配置织入，告诉spring框架，哪些方法（切点）需要进行哪些增强（前置增强、后置增强） -->
    <aop:config>
        <!-- 声明切面 -->
        <!--引用myAspect的Bean为切面对象-->
        <aop:aspect ref="myAspect">
            <!--配置Target的method方法执行时要进行myAspect的before方法前置增强-->
<!--            <aop:before method="before" pointcut="execution(public void-->
<!--    		com.example.aop.Target.save())"></aop:before>-->
<!--            <aop:before method="before" pointcut="execution(* com.example.aop.*.*(..))"/>-->
<!--            <aop:after-returning method="afterReturning" pointcut="execution(* com.example.aop.*.*(..))"/>-->
<!--            <aop:around method="around" pointcut="execution(* com.example.aop.*.*(..))" />-->
<!--            <aop:after-throwing method="afterThrowing" pointcut="execution(* com.example.aop.*.*(..))" />-->
<!--            <aop:after method="after" pointcut="execution(* com.example.aop.*.*(..))" />-->

            <!-- 抽取切点表达式 -->
            <aop:pointcut id="myPoint" expression="execution(* com.example.aop.*.*(..))"/>
            <aop:around method="around" pointcut-ref="myPoint" />
            <aop:around method="after" pointcut-ref="myPoint" />
        </aop:aspect>
    </aop:config>
</beans>